<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Control
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content 
  (touchstart)="onTouchStart($event)"
  (touchmove)="onTouchMove($event)"
  (touchend)="onTouchEnd()">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Control</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-button style="height: 150px;" 
          expand="block" 
          (touchstart)="onButtonTouch('8')" 
          (touchmove)="onButtonTouch('8')" 
          (touchend)="onButtonRelease()"
          (touchmove)="handleMove($event, '8')" 
          #button8>
          <ion-icon name="arrow-up"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-button style="height: 150px;" expand="block" 
          (touchstart)="onButtonTouch('4')" 
          (touchmove)="onButtonTouch('4')" 
          (touchend)="onButtonRelease()"
          (touchmove)="handleMove($event, '4')" 
          #button8>
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>

        <ion-button  style="height: 150px;" expand="block" 
          (touchstart)="onButtonTouch('6')" 
          (touchmove)="onButtonTouch('6')" 
          (touchend)="onButtonRelease()"
          (touchmove)="handleMove($event, '6')" 
          #button8>
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button style="height: 150px;" expand="block" 
           (touchstart)="onButtonTouch('2')" 
          (touchmove)="onButtonTouch('2')" 
          (touchend)="onButtonRelease()"
          (touchmove)="handleMove($event, '2')" 
        #button8>
          <ion-icon name="arrow-down"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>{{ directionLabel }}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
